<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/layout">
<head>
    <title th:text="#{contacts}"/>
</head>
<body>
<div layout:fragment="content">

    <div class="row form-group">
        <div class="col-sm-10">
            <input class="form-control" id="inputFilter" type="text" th:placeholder="#{search} + '...'"/>
        </div>
        <div class="col-sm-2">
            <a th:href="@{/site/contact}" class="btn btn-success" th:text="#{add}"
               th:if="${contacts == null || contacts.empty}"/>
        </div>
        <table id="contactList" class="table">
            <thead>
            <tr>
                <th>№</th>
                <th th:text="#{city}"/>
                <th th:text="#{street}"/>
                <th th:text="#{house}"/>
                <th th:text="#{phone}"/>
                <th th:text="#{email}"/>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${contacts == null || contacts.empty}">
                <td colspan="2"> No any contacts</td>
            </tr>
            <tr th:each="contact : ${contacts}">
                <td><span th:text="${contact.id}"> </span></td>
                <td><span th:text="${contact.city}"></span></td>
                <td><span th:text="${contact.street}"></span></td>
                <td><span th:text="${contact.house}"></span></td>
                <td><span th:text="${contact.phone}"></span></td>
                <td><span th:text="${contact.email}"></span></td>
                <td>
                    <a th:href="@{'/site/contact/' + ${contact.id}}" class="btn">
                        <span class="fa fa-eye fa-lg" aria-hidden="true"/>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:insert="fragments/scripts :: table-filter"/>
</div>

</body>
</html>