<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/layout">
<head>
    <title th:text="#{stocks}"/>
</head>
<body>
<div layout:fragment="content">

    <div class="row form-group">
        <div class="col-sm-10">
            <input class="form-control" id="inputFilter" type="text" th:placeholder="#{search} + '...'"/>
        </div>
        <div class="col-sm-2">
            <a th:href="@{/site/stock}" class="btn btn-success" th:text="#{add}"/>
        </div>
        <table id="stockList" class="table">
            <thead>
            <tr>
                <th>№</th>
                <th th:text="#{header}"/>
                <th th:text="#{dateFrom}"/>
                <th th:text="#{dateTo}"/>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${stocks == null || stocks.empty}">
                <td colspan="2" th:text="#{empty.list}"/>
            </tr>
            <tr th:each="stock : ${stocks}"  th:classappend="${stock.opened} ? row-active : row-inactive">
                <td><span th:text="${stock.id}"> </span></td>
                <td><span th:text="${stock.name}"> </span></td>
                <td><span th:text="${stock.dateFrom}"> </span></td>
                <td><span th:text="${stock.dateTo}"> </span></td>
                <td>
                    <a th:href="@{'/site/stock/' + ${stock.id}}" class="btn">
                        <span class="fa fa-eye fa-lg" aria-hidden="true"/>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:insert="fragments/scripts :: table-filter"/>
</div>

</body>
</html>