<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/layout">
<head>
    <title th:text="#{items}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="row form-group">
        <div class="col-sm-10">
            <input class="form-control" id="inputFilter" type="text" th:placeholder="#{search} + '...'"/>
        </div>
        <div class="col-sm-2">
            <a id="add" class="btn btn-success" th:text="#{add.item.type}"/>
        </div>
        <div class="col-sm-12" id="itemTypeHolder"/>
        <table id="customerList" class="table">
            <thead>
            <tr>
                <th>№</th>
                <th th:text="#{name}"/>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${itemTypes == null || itemTypes.empty}">
                <td colspan="2" th:text="#{empty.list}"/>
            </tr>
            <tr th:each="itemType : ${itemTypes}">
                <td><span th:text="${itemType.id}"> </span></td>
                <td><span th:text="${itemType.name}"></span></td>
                <td>
                    <a th:href="@{'/item-type/' + ${itemType.id}}" class="btn">
                        <span class="fa fa-eye fa-lg" aria-hidden="true"/>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:insert="fragments/paginator :: paginator"/>
    </div>
    <script>
        $(document).ready(function () {
            $("#add").click(function () {
                $.ajax({
                    url: "/item-type/",
                    success: function (data) {
                        $("#itemTypeHolder").html(data);
                        $("#itemType").show();
                    }
                })

            });
        });
    </script>
    <div th:insert="fragments/scripts :: table-filter"/>
</div>
</body>
</html>