<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:insert="fragments/header :: header"/>

<div class="container-fluid">
    <div class="row form-group">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div class="col-md-9 ml-sm-auto col-lg-10 px-4 crm-main mt-5">
                <div layout:fragment="content"></div>
        </div>
    </div>
</div>

<div th:insert="fragments/footer :: footer"/>

</body>
</html>