<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">

        <footer>
            <!-- this is footer -->
            &copy; alexandr.shalukho@gmail.com
            <!--<span sec:authorize="isAuthenticated()">-->
                <!--| Logged user: <span sec:authentication="name"></span> |-->
                <!--Roles: <span sec:authentication="principal.authorities"></span> |-->
                <!--<a th:href="@{/logout}">Sign Out</a>-->
            <!--</span>-->

            <script type="text/javascript"
                    src="/webjars/jquery/3.2.1/jquery.min.js"></script>
            <script type="text/javascript"
                    src="/webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>

        </footer>
    </div>
</div>
</body>
</html>