<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Header</title>
</head>

<body>

<div th:fragment="sidebar">
    <nav class="col-md-2 d-none d-md-block bg-dark-graysidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/customer/list}" th:text="#{customers}"/>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/item/list}" th:text="#{items}"/>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/order/list}" th:text="#{orders}"/>
                </li>
            </ul>
        </div>
    </nav>
</div>

</body>

</html>