<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/layout">
<head>
    <title>Customers</title>
</head>
<body>

<div layout:fragment="content">
    <h1 th:inline="text">Add New Customer</h1>

    <form th:action="@{/customer}" th:object="${customerDto}" method="post">

        <div class="form-group">
            <input type="hidden" name="id" class="form-control" th:field="*{id}"/>
        </div>

        <div class="form-group">
            <input type="text" name="name" class="form-control"
                   placeholder="Name" required="true" autofocus="true" th:field="*{name}"/>
        </div>

        <div class="form-group">
            <input type="text" name="email" class="form-control"
                   placeholder="Email" required="true" autofocus="true" th:field="*{email}"/>
        </div>
        <div class="form-group">
            <select class="custom-select" name="type">
                <option th:each="type : ${T(by.shalukho.entity_enum.CustomerTypeEnum).values()}"
                        th:value="${type.toString()}"
                        th:text="${type}">
                </option>
            </select>
        </div>
        <input type="submit" class="btn btn-success" value="Save"/>
        <input type="reset" class="btn btn-warning" value="Reset"/>
    </form>

    <!--<form action="#" th:action="@{'/customer/{id}'(id=*{id})}" th:method="delete">-->
    <!--&lt;!&ndash;<a th:href="@{'/customer/' + *{id}}" data-method="delete" class="btn btn-danger">Delete</a>&ndash;&gt;-->
    <!--<input type="hidden" name="_method" value="delete"/>-->
    <!--<button type="submit" id="submitButton"></button>-->
    <!--</form>-->

</div>
</body>
</html>